<div id="main_content">
	<div class="post_wrapper">
		<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/0a8/375/381adb6.jpg">
	</div>

	<div id="page_wrapper">
		<h1>Hey, I'm Joshua Munene</h1>
		<p>Welcome to my blog.</p>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>I am looking for an awesome company to work for. If you need a dev please <a href="mailto:kenyadevelop@gmail.com">Email Josh</a></p>

	</div>
</div>
